*, *:before, *:after {
  -moz-box-sizing    : border-box; /* Firefox */
  -webkit-box-sizing : border-box; /* Safari */
  box-sizing         : border-box;
  *behavior          : url(./js/boxsizing.htc); /* ie7 et ie8 */
}

/* Couleurs de la charte */ 
:root {
--blue: #0065FC;
--light-blue: #DEEBFF;
--grey: #F2F2F2;
--big-font: 30px;
--margin-page: 0 5%;
}

.blue {
color: #0065FC;
}

.light-blue {
color: #DEEBFF
}

.grey {
color: #F2F2F2; 
}
/*xxxx Couleurs de la charte xxxx*/

/* structure globale */
body {
  width:100%;
  margin: 0;
  padding: 0;  
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
}

.content {
  max-width: 1440px;
  max-height: 1884px;
  margin: auto;
}

main {
  margin: var(--margin-page);
}

ul {
list-style: none;
}

a {
text-decoration: none;
color: #000;
}
/*xxxx structure globale xxxx*/

/* header */
header {
  margin: var(--margin-page);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  width: 30%;
}

#header-navigation {  
 line-height: 100px;
}

#header-navigation ul { 
  margin: 0; 
  width: 300px;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

#header-navigation li {
  width: 50%;
  text-align: center;
}

#header-navigation a {  
  border: 2px solid transparent;
}

#header-navigation .nav-hebergements {
  padding: 41px 21px;
}

#header-navigation .nav-activites {
  padding: 41px 40px;
}

#header-navigation li a:hover {   
  border-top: 2px solid var(--blue);
}

#header-navigation li a:hover {  
  color: var(--blue);
}

/* main */

/* title */
h1 {
  margin: 0;
  font-size: 18px;
}

#title {
  display: flex;
  align-items: flex-start;
  flex-direction: column;  
}
#title p{
  margin: 10px 0;
  /*font-size: 29px;*/
}

/* form */
form {
  display: flex;
  /*font-size: 30px;*/
  margin: 10px 0;
}

i.fa-map-marker-alt {
  width: 42px;
  height: 40px;
  padding: 14px;
  text-align: center;
  /*font-size: 30px;*/
  background-color: var(--grey);
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  border: 1px solid var(--grey);
}

input.p-holder {
  width: 180px;
  padding-left: 10px;
  border-left: 1px solid var(--grey);
  border-right: 1px solid var(--blue);
  border-top: 1px solid var(--grey);
  border-bottom: 1px solid var(--grey);
}

input.search {
  color: #FFF;
  padding-left: 10px;
  padding-right: 10px;
  background-color: var(--blue);
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  border: 1px solid var(--blue);
  font-weight: bolder;
}


input::placeholder {
  color: #000;
  font-weight: bolder;
}

.fa-search {
  opacity: 0;
}

/* fiiiiilters */
#filters {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

#filters div, #filters span {
  font-size: 16px;
  font-weight: bold;
  margin: 0 20px 0 0;
  display: flex;  
  align-items: center;
  gap: 10px;
}

#filters button:hover {
transform: scale(1.05);
}

.fa-money-bill-wave, 
.fa-child, 
.fa-heart, 
.fa-dog {
  text-align: center; 
  width: 40px; 
  height: 40px;
  padding-right: 14px;
  padding-left: 10px;
  background: white;
  border: 1px solid var(--light-blue);
  border-radius: 50%;
  color: var(--blue);
}

.filter {
background: var(--light-blue);
color: #0065FC;
border: 1px solid var(--grey);
margin: 0;
}

#filters button  { 
  background: #FFF;    
  border-radius: 50px 50px 50px 50px;
  border: 2px solid var(--light-blue);    
  padding-top: 0px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  margin: 10px;
  display: flex;
  align-items: center;
}
/*XXXX fiiiiilters XXXX*/

/* information */
.fa-info {
  text-align: center; 
  width: 22px; 
  height: 22px;
  margin-top: 6px;
  padding-top: 4px;
  background: white;
  border: 1px solid var(--light-blue);
  border-radius: 50%;
  color: var(--blue);
}

#information {
  display: flex;
  flex-wrap: wrap;
}

#information p {
  padding-left: 10px;
}
/*XXXX information XXXX*/

/* o:) main content (:o */
.row-hebergement {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create 2 columns that sits next to each other */
.section-hebergement {
  -ms-flex: 60%; /* IE10 */
  flex: 60%;
  max-width: 60%;
  padding: 0 4px;
}

.aside-hebergement {
  -ms-flex: 40%; /* IE10 */
  flex: 40%;
  max-width: 40%;
  padding: 0 4px;
}

.section-hebergement .wrapper-section-hebergement {
  background-color: var(--grey);
  margin-top: 8px;
  vertical-align: middle;
  width: 880px;
  height: 626px;
  object-fit: cover;  
}

.aside-hebergement .wrapper-aside-hebergement {
  background-color: var(--grey);
  margin-top: 8px;
  vertical-align: middle;
  width: 420px;
  height: 626px;
  object-fit: cover;
}



/* hebergement */

.header {
  text-align: center;
  padding: 32px;
}

.row-section-hebergement {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column-section-hebergement {
  -ms-flex: 33%; /* IE10 */
  flex: 33%;
  max-width: 33%;
  padding: 0 4px;
}

.column-section-hebergement .card {
  margin-top: 8px;
  vertical-align: middle;
  width: 246px;
  height: 199px;
}

.column-section-hebergement .card img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  height: 50%;
  object-fit: cover;
}

/*XXXX main content XXXX*/

/* footer */
footer {  
  margin: 0;
  width: 100%;
  background-color: var(--grey);

}

#footer-navigation {
  margin: var(--margin-page);  
  display: flex;
  flex-wrap: nowrap;
  gap: 200px;
}

#footer-navigation ul {
  padding: 0;  
}

#footer-navigation  li {
  display: flex;
  justify-content: flex-start;
  margin: 10px 0;
}
/*XXXX footer XXXX*//* Responsive layout */
@media screen and (max-width: 800px) {
  .section-hebergement {
    -ms-flex: 60%;
    flex: 60%;
    max-width: 60%;
  }  
  .aside-hebergement {
    -ms-flex: 40%;
    flex: 40%;
    max-width: 40%;
  }
}

/* Responsive layout */
@media screen and (max-width: 600px) {
  .section-hebergement, .aside-hebergement {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 30%;
    flex: 30%;
    max-width: 30%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}